In [1]:
# 필요한 패키지 참조

from pandas import read_csv, read_excel, DataFrame, pivot_table, to_datetime, concat
import numpy as np
import sys
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt
from datetime import timedelta 
import pandas as pd

In [2]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_2022.csv',encoding='euc-kr')
df = origin.reset_index()
df2 = df.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df3 = df2[['사용일자','노선명','역명','하차총승객수']]

df3['사용일자변경'] = pd.to_datetime(df3['사용일자'],format='%Y%m%d')
df4 = df3[df3['사용일자변경'] >= '2022-08-01']
df4

C:\Users\J\AppData\Local\Temp\ipykernel_10672\22885232.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['사용일자변경'] = pd.to_datetime(df3['사용일자'],format='%Y%m%d')

            사용일자  노선명       역명  하차총승객수     사용일자변경
127012  20220801  중앙선       도심    1636 2022-08-01
127013  20220801  경원선       도봉    5113 2022-08-01
127014  20220801  경원선      도봉산    3864 2022-08-01
127015  20220801  경원선      망월사    6759 2022-08-01
127016  20220801  경원선       회룡   10795 2022-08-01
...          ...  ...      ...     ...        ...
219740  20221231  4호선      신용산   12099 2022-12-31
219741  20221231  경부선       석수    5147 2022-12-31
219742  20221231  경부선     금천구청    7426 2022-12-31
219743  20221231  경부선  가산디지털단지    7299 2022-12-31
219744  20221231  경부선       구로   12080 2022-12-31

[92733 rows x 5 columns]

In [4]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202301.csv',encoding='utf-8')
df2301_1 = origin.reset_index()
df2301_2 = df2301_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2301_3 = df2301_2[['사용일자','노선명','역명','하차총승객수']]

df2301_3['사용일자변경'] = pd.to_datetime(df2301_3['사용일자'],format='%Y%m%d')
df2301_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\861930466.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2301_3['사용일자변경'] = pd.to_datetime(df2301_3['사용일자'],format='%Y%m%d')

           사용일자  노선명     역명  하차총승객수     사용일자변경
0      20230101  경강선    곤지암    1539 2023-01-01
1      20230101  2호선    신도림   21037 2023-01-01
2      20230101  2호선     문래    6567 2023-01-01
3      20230101  2호선  영등포구청    6117 2023-01-01
4      20230101  2호선     당산    7594 2023-01-01
...         ...  ...    ...     ...        ...
18792  20230131  경원선    소요산    1929 2023-01-31
18793  20230131  경원선    동두천    2188 2023-01-31
18794  20230131  경원선     보산    1299 2023-01-31
18795  20230131  경원선  동두천중앙    2954 2023-01-31
18796  20230131  경원선     지행    6187 2023-01-31

[18797 rows x 5 columns]

In [5]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202302.csv',encoding='utf-8')
df2302_1 = origin.reset_index()
df2302_2 = df2302_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2302_3 = df2302_2[['사용일자','노선명','역명','하차총승객수']]

df2302_3['사용일자변경'] = pd.to_datetime(df2302_3['사용일자'],format='%Y%m%d')
df2302_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\343997632.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2302_3['사용일자변경'] = pd.to_datetime(df2302_3['사용일자'],format='%Y%m%d')

           사용일자  노선명           역명  하차총승객수     사용일자변경
0      20230201  2호선     낙성대(강감찬)   28243 2023-02-01
1      20230201  2호선  서울대입구(관악구청)   48259 2023-02-01
2      20230201  2호선           봉천   24509 2023-02-01
3      20230201  2호선           신림   57704 2023-02-01
4      20230201  2호선          신대방   26197 2023-02-01
...         ...  ...          ...     ...        ...
16989  20230228  중앙선           팔당    1061 2023-02-28
16990  20230228  중앙선          운길산     654 2023-02-28
16991  20230228  중앙선           양수    1983 2023-02-28
16992  20230228  중앙선           신원     182 2023-02-28
16993  20230228  중앙선           국수     755 2023-02-28

[16994 rows x 5 columns]

In [6]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202303.csv',encoding='utf-8')
df2303_1 = origin.reset_index()
df2303_2 = df2303_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2303_3 = df2303_2[['사용일자','노선명','역명','하차총승객수']]

df2303_3['사용일자변경'] = pd.to_datetime(df2303_3['사용일자'],format='%Y%m%d')
df2303_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\3462001254.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2303_3['사용일자변경'] = pd.to_datetime(df2303_3['사용일자'],format='%Y%m%d')

           사용일자  노선명   역명  하차총승객수     사용일자변경
0      20230301  수인선   달월      61 2023-03-01
1      20230301  수인선   사리    2748 2023-03-01
2      20230301  수인선   야목     196 2023-03-01
3      20230301  수인선   어천     746 2023-03-01
4      20230301  수인선  오목천    1967 2023-03-01
...         ...  ...  ...     ...        ...
18810  20230331  중앙선   오빈     387 2023-03-31
18811  20230331  중앙선   양평    3662 2023-03-31
18812  20230331  중앙선   원덕     484 2023-03-31
18813  20230331  중앙선   용문    2215 2023-03-31
18814  20230331  중앙선   지평      86 2023-03-31

[18815 rows x 5 columns]

In [7]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202304.csv',encoding='utf-8')
df2304_1 = origin.reset_index()
df2304_2 = df2304_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2304_3 = df2304_2[['사용일자','노선명','역명','하차총승객수']]

df2304_3['사용일자변경'] = pd.to_datetime(df2304_3['사용일자'],format='%Y%m%d')
df2304_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\1736474648.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2304_3['사용일자변경'] = pd.to_datetime(df2304_3['사용일자'],format='%Y%m%d')

           사용일자  노선명           역명  하차총승객수     사용일자변경
0      20230401  7호선          도봉산   10398 2023-04-01
1      20230401  7호선           장암    1431 2023-04-01
2      20230401  6호선   봉화산(서울의료원)    5999 2023-04-01
3      20230401  6호선  화랑대(서울여대입구)    6825 2023-04-01
4      20230401  6호선         태릉입구    5170 2023-04-01
...         ...  ...          ...     ...        ...
18206  20230430  분당선           오리    5467 2023-04-30
18207  20230430  중앙선  상봉(시외버스터미널)    4891 2023-04-30
18208  20230430  분당선           미금    8768 2023-04-30
18209  20230430  분당선           정자    8926 2023-04-30
18210  20230430  분당선           수내    6594 2023-04-30

[18211 rows x 5 columns]

In [8]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202305.csv',encoding='utf-8')
df2305_1 = origin.reset_index()
df2305_2 = df2305_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2305_3 = df2305_2[['사용일자','노선명','역명','하차총승객수']]

df2305_3['사용일자변경'] = pd.to_datetime(df2305_3['사용일자'],format='%Y%m%d')
df2305_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\499174878.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2305_3['사용일자변경'] = pd.to_datetime(df2305_3['사용일자'],format='%Y%m%d')

           사용일자  노선명           역명  하차총승객수     사용일자변경
0      20230501  8호선           산성    4316 2023-05-01
1      20230501  7호선       신대방삼거리   10879 2023-05-01
2      20230501  6호선         태릉입구    5122 2023-05-01
3      20230501  6호선           석계   10288 2023-05-01
4      20230501  6호선          돌곶이    6895 2023-05-01
...         ...  ...          ...     ...        ...
18825  20230531  2호선           봉천   25052 2023-05-31
18826  20230531  2호선  서울대입구(관악구청)   50092 2023-05-31
18827  20230531  2호선     낙성대(강감찬)   29309 2023-05-31
18828  20230531  2호선           사당   45490 2023-05-31
18829  20230531  2호선           방배   22904 2023-05-31

[18830 rows x 5 columns]

In [9]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202306.csv',encoding='utf-8')
df2306_1 = origin.reset_index()
df2306_2 = df2306_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2306_3 = df2306_2[['사용일자','노선명','역명','하차총승객수']]

df2306_3['사용일자변경'] = pd.to_datetime(df2306_3['사용일자'],format='%Y%m%d')
df2306_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\737701120.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2306_3['사용일자변경'] = pd.to_datetime(df2306_3['사용일자'],format='%Y%m%d')

           사용일자  노선명           역명  하차총승객수     사용일자변경
0      20230601  분당선           오리   10868 2023-06-01
1      20230601  분당선           이매    6313 2023-06-01
2      20230601  분당선           정자   21369 2023-06-01
3      20230601  경의선          서울역    6880 2023-06-01
4      20230601  분당선           보정    2804 2023-06-01
...         ...  ...          ...     ...        ...
18209  20230630  경원선  이촌(국립중앙박물관)    3455 2023-06-30
18210  20230630  경부선           광명    4302 2023-06-30
18211  20230630  경부선          서동탄    1530 2023-06-30
18212  20230630  경부선           당정    6211 2023-06-30
18213  20230630  경부선           천안    7048 2023-06-30

[18214 rows x 5 columns]

In [10]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202307.csv',encoding='utf-8')
df2307_1 = origin.reset_index()
df2307_2 = df2307_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2307_3 = df2307_2[['사용일자','노선명','역명','하차총승객수']]

df2307_3['사용일자변경'] = pd.to_datetime(df2307_3['사용일자'],format='%Y%m%d')
df2307_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\3573078811.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2307_3['사용일자변경'] = pd.to_datetime(df2307_3['사용일자'],format='%Y%m%d')

           사용일자  노선명           역명  하차총승객수     사용일자변경
0      20230701  2호선           사당   40116 2023-07-01
1      20230701  2호선           방배   11017 2023-07-01
2      20230701  2호선           서초   10121 2023-07-01
3      20230701  2호선   교대(법원.검찰청)   20707 2023-07-01
4      20230701  2호선           강남   61540 2023-07-01
...         ...  ...          ...     ...        ...
18901  20230731  5호선          까치산   27202 2023-07-31
18902  20230731  5호선      신정(은행정)   10926 2023-07-31
18903  20230731  5호선           목동   17489 2023-07-31
18904  20230731  5호선  오목교(목동운동장앞)   22803 2023-07-31
18905  20230731  9호선        고속터미널   20498 2023-07-31

[18906 rows x 5 columns]

In [11]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202308.csv',encoding='utf-8')
df2308_1 = origin.reset_index()
df2308_2 = df2308_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2308_3 = df2308_2[['사용일자','노선명','역명','하차총승객수']]

df2308_3['사용일자변경'] = pd.to_datetime(df2308_3['사용일자'],format='%Y%m%d')
df2308_3

C:\Users\J\AppData\Local\Temp\ipykernel_10672\2805363769.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2308_3['사용일자변경'] = pd.to_datetime(df2308_3['사용일자'],format='%Y%m%d')

           사용일자  노선명   역명  하차총승객수     사용일자변경
0      20230801  1호선  서울역   50606 2023-08-01
1      20230801  2호선   선릉   54557 2023-08-01
2      20230801  중앙선   지평      85 2023-08-01
3      20230801  중앙선   용문    2407 2023-08-01
4      20230801  중앙선   원덕     295 2023-08-01
...         ...  ...  ...     ...        ...
18908  20230831  일산선   화정   18883 2023-08-31
18909  20230831  일산선   원당   11312 2023-08-31
18910  20230831  일산선   삼송   20290 2023-08-31
18911  20230831  일산선   지축       0 2023-08-31
18912  20230831  일산선   원흥   11944 2023-08-31

[18913 rows x 5 columns]

In [29]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202309.csv',encoding='utf-8')
df2309_1 = origin.reset_index()
df2309_2 = df2309_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2309_3 = df2309_2[['사용일자','노선명','역명','하차총승객수']]

df2309_3['사용일자변경'] = pd.to_datetime(df2309_3['사용일자'],format='%Y%m%d')
df2309_3

C:\Users\J\AppData\Local\Temp\ipykernel_14720\439944732.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2309_3['사용일자변경'] = pd.to_datetime(df2309_3['사용일자'],format='%Y%m%d')

           사용일자  노선명    역명  하차총승객수     사용일자변경
0      20230901  8호선    석촌   10257 2023-09-01
1      20230901  8호선    송파   10097 2023-09-01
2      20230901  8호선  가락시장    9967 2023-09-01
3      20230901  8호선    문정   24374 2023-09-01
4      20230901  8호선    장지   17388 2023-09-01
...         ...  ...   ...     ...        ...
18297  20230930  중앙선    양수    1892 2023-09-30
18298  20230930  중앙선    신원     277 2023-09-30
18299  20230930  중앙선    국수     495 2023-09-30
18300  20230930  중앙선    아신     572 2023-09-30
18301  20230930  중앙선    오빈     255 2023-09-30

[18302 rows x 5 columns]

In [30]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202310.csv',encoding='utf-8')
df2310_1 = origin.reset_index()
df2310_2 = df2310_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2310_3 = df2310_2[['사용일자','노선명','역명','하차총승객수']]

df2310_3['사용일자변경'] = pd.to_datetime(df2310_3['사용일자'],format='%Y%m%d')
df2310_3

C:\Users\J\AppData\Local\Temp\ipykernel_14720\1610618566.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2310_3['사용일자변경'] = pd.to_datetime(df2310_3['사용일자'],format='%Y%m%d')

           사용일자  노선명        역명  하차총승객수     사용일자변경
0      20231001  장항선  신창(순천향대)    1223 2023-10-01
1      20231001  중앙선        용문    2176 2023-10-01
2      20231001  중앙선        지평      73 2023-10-01
3      20231001  중앙선        회기   15527 2023-10-01
4      20231001  중앙선        중랑    3583 2023-10-01
...         ...  ...       ...     ...        ...
18906  20231031  중앙선        오빈     370 2023-10-31
18907  20231031  중앙선        양평    3385 2023-10-31
18908  20231031  중앙선        원덕     374 2023-10-31
18909  20231031  중앙선        용문    2785 2023-10-31
18910  20231031  중앙선        지평      89 2023-10-31

[18911 rows x 5 columns]

In [31]:
origin = read_csv('C:\\Users\\J\\Desktop\\미세먼지data\\4. 서울지하철이용객수(서울시)\\CARD_SUBWAY_MONTH_202311.csv',encoding='utf-8')
df2311_1 = origin.reset_index()
df2311_2 = df2311_1.rename(columns={'index':'사용일자','사용일자':'노선명','노선명':'역명','역명':'승차총승객수','승차총승객수':'하차총승객수','하차총승객수':'등록일자'})
df2311_3 = df2311_2[['사용일자','노선명','역명','하차총승객수']]

df2311_3['사용일자변경'] = pd.to_datetime(df2311_3['사용일자'],format='%Y%m%d')
df2311_3

C:\Users\J\AppData\Local\Temp\ipykernel_14720\1433288061.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2311_3['사용일자변경'] = pd.to_datetime(df2311_3['사용일자'],format='%Y%m%d')

           사용일자    노선명        역명  하차총승객수     사용일자변경
0      20231101    8호선     단대오거리   13072 2023-11-01
1      20231101    중앙선        원덕     362 2023-11-01
2      20231101    중앙선        용문    2097 2023-11-01
3      20231101    중앙선        지평      71 2023-11-01
4      20231101  우이신설선  4.19민주묘지    4447 2023-11-01
...         ...    ...       ...     ...        ...
18308  20231130    5호선        발산   25129 2023-11-30
18309  20231130    5호선       우장산   16027 2023-11-30
18310  20231130    5호선        화곡   29241 2023-11-30
18311  20231130    5호선       까치산   28933 2023-11-30
18312  20231130    5호선   신정(은행정)   12687 2023-11-30

[18313 rows x 5 columns]

In [12]:
tdf = concat([df4,df2301_3,df2302_3,df2303_3,df2304_3,df2305_3,df2306_3,df2307_3,df2308_3])
tdf.to_excel('지하철이용객수(2208~2308).xlsx')